.posicionamento-home {
  padding: 15px;
  height: 100vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.nome-apresentacao-home {
  font-weight: 100;
  font-style: italic;
  font-size: 2rem;
}

.titulo-apresentacao-home {
  font-size: 4rem;
  overflow: hidden;
  border-right: 0.15em solid #5a0202;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
    padding-right: 5px;
  }
  50% {
    border-color: #5a0202;
  }
}

.areas-atuacao-apresentacao-home {
  font-size: 2rem;
  margin-top: 10px;
  overflow: hidden;
  animation: exibir_areas 1.5s forwards 4s;
  width: 0%;
}


.icon-geral{
  z-index: 0;
  width: 30px;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  animation: movimentar-icone 7s linear infinite;
}

.icon-node {
  left: 70%;
  animation-delay: -1s; 
}
.icon-angular {
  left: 50%;
  animation-delay: -6s; 
}
.icon-react {
  left: 90%;
  animation-delay: -3s; 
}
.icon-bootstrap {
  left: 10%;
  animation-delay: -0.5s; 
}
.icon-sql {
  left: 30%;
  animation-delay: -2.5s; 
}

@keyframes movimentar-icone {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  30% {
    opacity: 1;
  }
  90% {
    transform: translateY(-400px) translateX(-50%);
  }
  100% {
    transform: translateY(-400px) translateX(-50%) scale(2);
    opacity: 0; 
  }
}



@keyframes exibir_areas {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.texto-destaque {
  font-size: 4rem;
}

@media screen and (max-width: 1000px) {
  .nome-apresentacao-home {
    font-size: 1.5rem;
  }

  .titulo-apresentacao-home,
  .texto-destaque {
    font-size: 3.5rem;
  }

  .areas-atuacao-apresentacao-home {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .apresentacao-home {
    margin-top: 100px;
    width: 250px;
  }

  .nome-apresentacao-home {
    font-size: 1.2rem;
  }

  .titulo-apresentacao-home,
  .texto-destaque {
    font-size: 1.8rem;
  }

  .areas-atuacao-apresentacao-home {
    font-size: 1.2rem;
  }

  .posicionamento-home {
    flex-direction: column;
  }
}
