

.posicionamento-home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.nome-apresentacao-home{
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
}

.titulo-apresentacao-home{
    font-size: 4rem;
}

.areas-atuacao-apresentacao-home{
    font-size: 2rem;
    margin-top: 10px;
}


.tecnologias-usadas-home {
    
}