
.navbar-box {
    background-color: #0f0f0fb6;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    min-height: 55px;
    z-index: 10;
}

.logo-navbar {
    font-size: 2rem;
    width: 20%;
    display: flex;
    color: #FFFFFF;
}

.botoes-menu-navegacao {
    cursor: pointer;
    color: #c4c4c4;
}

.botoes-menu-navegacao:hover {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.lista-btn-nav {
    display: flex;
    color: #FFFFFF;
    height: 100%;
    width: 40%;
    justify-content: space-around;
    align-items: center;

}


.box-btn-cv {
    width: 20%;
    display: flex;
    justify-content: center;

}
.btn-cv {
    background-color: rgba(97, 15, 15, 0.06);
    border: 1px solid #610F0F;
    width: 60%;
    text-align: center;
    height: 80%;
    padding: 10px 15px;
    cursor: pointer;
    line-height: 1.2rem;
    font-size: 1rem;
    color: #FF0000;

}

.texto-destaque {
    color: #FF0000;
}

.btn-cv:hover {
    background-color: #610F0F;
    color: #FFFFFF;
}