.image-lucas {
    transform: scaleX(-1);
    transform-origin: center;
    animation: exibirImagem forwards 1s;
    opacity: 0;

}


@keyframes exibirImagem {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .image-lucas {
        width: 320px;
   }
}
@media screen and (max-height: 450px) {
    .image-lucas {
        width: 200px;
   }
    
}
    