.section-projetos {
    width: 100vw;
    height: 90vh;
}


.title-projetos{
    width: 100%;
    height: 20%;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
}

.box-cards-projeto {
    display: flex;
    width: 100%;
    height: 500px;
    min-height: 350px;
    justify-content: space-around;
}

.box-posicionar-btn{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mais-projetos{
    border: 1px solid #610F0F;
    padding: 12px 20px;
    width: 300px;
    color: #FF0000;
    background-color: rgba(255, 0, 0, 0.04);
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-mais-projetos:hover {
    background-color: #610F0F;
    color: #FFFFFF;
}


@media screen and (max-height: 850px) {
    .box-cards-projeto {
        height: 300px;
    }
}
