.section-projetos {
    width: 100vw;
    height: 90vh;
    min-height: 850px;
}


.title-projetos{
    width: 100%;
    height: 20%;
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;

}

.box-cards-projeto {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.box-posicionar-btn{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mais-projetos{
    border: 1px solid #610F0F;
    padding: 12px 20px;
    width: 80%;
    max-width: 300px;
    color: #FF0000;
    background-color: rgba(255, 0, 0, 0.04);
    cursor: pointer;
    font-size: 1.2rem;
}

.texto-destaque-projetos{
    color: #FF0000;
    font-size: 3rem;
}

.btn-mais-projetos:hover {
    background-color: #610F0F;
    color: #FFFFFF;
}


@media screen and (max-height: 950px) {

    .box-posicionar-btn{
        height: 10%;
    }
    .title-projetos{
        height: 10%;
        text-align: center;
    }
    
}
@media screen and (max-width: 1200px) {
    .section-projetos {
        min-height: 1000px;
    }
    .title-projetos{ 
        font-size: 2rem;
        text-align: right;
        padding-top: 5%;
        padding-right: 4%;
    }
    .texto-destaque-projetos{
        font-size: 2rem;
    }
    .box-cards-projeto {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 300px) {

    .btn-mais-projetos{
        margin-top: 30%;
        padding: 10px 15px;
        width: 80%;
        max-width: 300px;
        font-size: 1.2rem;
    }
    
}
