.section-galeria {
    height: 100vh;
}


.header-sobre-projeto {
    height: 15%;
}

.logo-galeria {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.galeria-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #ffffff83;
    font-style: italic;
    margin: 15px 0;
}

.box-sobre-projeto{
    height: 80%;
    width: 100%;
    background-color: #00000044;
    padding: 0 15px;
    align-items: center;
}

.subtitle-galeria-box{
    width: 100%;
    margin: 40px 0;
    font-size: 3rem;
    color: #ffffff83;
    border-top: 1px solid #ffffff83;
    padding-top: 20px;
    padding-left: 20px;
}

.markdown-sobre-projeto {
    
    padding: 20px 0;
    overflow-y: auto;
    height: 85%;
    width: 100%;
}

.box-botoes-projeto{
    height: 15%;
    width: 100%;
    display: flex;
}
.box-botoes-projeto{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box-botoes-projeto a{
    color: #FFFFFF;
    background: none;
    padding: 15px;
    width: 100px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
}
.box-botoes-projeto .btn-voltar{
    color: #ff0000;
}
.box-botoes-projeto a:hover{
    background-color: #FFFFFF;
    color: #000000;
}
.box-botoes-projeto .btn-voltar:hover{
    background-color: #ff0000;
    color: #000000;
}




@media screen and (max-width: 400px) {
    .subtitle-galeria-box{
        text-align: center;
    }  
    .section-galeria {
        padding: 20px 2px;
    }
    .box-sobre-projeto{
        height: 75%;
    }
    .box-botoes-projeto button{
        width: 60px;
        padding: 10px;
    }
}




/* --- CODIGOS DO MARKDOWN ------ */


.box-sobre-projeto h1 {
    font-size: 3rem;
    margin: 15px 0;
}

.box-sobre-projeto h2 {
    font-size: 2.3rem;
    margin: 40px 0;
    padding-top: 10px;
    border-top: 1px solid #610707;
}
.box-sobre-projeto p, .box-sobre-projeto strong, .box-sobre-projeto em {
    font-size: 2rem;
    margin: 30px 0 30px 0;
    width: 100%;
}
.box-sobre-projeto li {
    font-size: 2.0rem;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.box-sobre-projeto ul {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px black;
}
.box-sobre-projeto pre {
    padding: 10px;
    width: 100%;
    font-size: 2rem;
    background-color: #0000005b
}
.box-sobre-projeto em {
    color: #b4b4b4;
}
.box-sobre-projeto code {
    font-size: 1.4rem;
}
