.card-projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 365.71px;
  margin: 60px 15px;
  box-shadow: 1px 0 11px 1px #00000071;
  cursor: pointer;
  padding: 0 0 20px 0;
  transition: 0.5s;
}

.card-projeto:hover {
  scale: 1.04;
  box-shadow: 1px 0 20px 1px #00000071;
}

.banner-projeto {
  background-color: #ffffff;
  width: 365.71px;
  height: 205.71px;
  object-fit: cover;
}

.titulo-projeto {
  margin-top: 15px;
  text-align: center;
}

.descricao-projeto {
  font-style: italic;
  text-align: justify;
  height: 120px;
  overflow-y: auto;
  width: 100%;
  padding: 0 10px;
}

.descricao-projeto::-webkit-scrollbar {
  width: 5px;
}

.escritos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-icons-projeto {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.icon-github,
.icon-site,
.icon-video {
  width: 40px;
  cursor: pointer;
}

.icon-github:hover,
.icon-site:hover,
.icon-video:hover {
  filter: drop-shadow(0px 0px 4px red);
}

.icon-disabled {
  opacity: 0.1;
  cursor: default;
}

.icon-disabled:hover {
  filter: none;
}

.box-tecnologias-projeto{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 15px 0px;
}


@media screen and (max-width: 1400px) {

  .card-projeto {
    padding: 10px;
  }

  .icon-github,
  .icon-site,
  .icon-video {
    width: 30px;
  }
}

@media screen and (max-width: 1200px) {


  .card-projeto:hover {
    box-shadow: 1px 0 20px 1px #af080871;
    scale: 1;
  }
    
.escritos-card {
    width: 60%;
}

.titulo-projeto {
    margin-top: 15px;
    text-align: center;

  }
  
  .descricao-projeto {
    height: 90px;
}

  .banner-projeto {
    width: 100px;
    height: 100px;
    border-radius: 100%;

  }
  .card-projeto {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
    padding-bottom: 2px;
  }
}

@media screen and (max-width: 600px) {
  .icon-github,
  .icon-site,
  .icon-video {
    width: 25px;
  }
}

@media screen and (max-width: 400px) {
  .banner-projeto {
    width: 70px;
    height: 70px;
  }
}


