.box-realizacoes {
    background-color: #ffffff13;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px 2px rgb(63, 5, 5);
}


.box-valores>h3,
.box-valores>p {
    color: #ffffff;
}

.box-valores>h3 {
    font-size: 4rem;
    text-align: center;
}

.box-valores>p {
    font-size: 1.5rem;
    text-align: center;
}

.box-valores {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


@media screen and (max-width: 1000px) {
    .box-valores>h3 {
        font-size: 3.3rem;
    }
    
    .box-valores>p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 650px) {

    .box-realizacoes {
        height: 95px;

    }
    .box-valores>h3 {
        font-size: 2rem;
    }
    
    .box-valores>p {
        font-size: 1rem;
    }
}