@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    box-sizing: border-box;
	font-family: "Share Tech", sans-serif;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
}

a {
    text-decoration: none;
}


li {
	list-style: none;
}
