

.tech-box:hover {
    animation: none;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px); /* ajuste a distância conforme necessário */
    }
}