.tech-box {
    border: 1px solid #D05353;
    box-shadow: 0px 0px 15px 5px #610F0F;
    border-radius: 10px;
    animation: moveUpDown 2s infinite alternate;
}

.tech-box:hover {
    animation: none;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px); /* ajuste a distância conforme necessário */
    }
}